{% load static %}
<style>
    .hello-msg{
        font-size: 28px;
        color: white;
        margin-right: 20px;
    }
</style>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{#        <img src="{% static 'images/LogoBPCompany.png' %}" style="width: 5%">#}
        <a href="https://github.com/reda98494?tab=repositories"  target="_blank"><img src="{% static 'images/team.gif' %}" width="180" height="180" ></img></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'afficher_produit' %}">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'afficher_client' %}">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'afficher_commande' %}">Commandes</a>
          </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compte' %}">Mon profil</a>
                </li>
            {% endif %}

        </ul>
      </div>
        <span class="hello-msg">Hello {{ request.user }} </span>
          <span><a href="{% url 'deconnexion' %}" class="btn btn-lm btn btn-info">Se deconnecter</a></span>
    </nav>
<!--Navbar-->