{% extends 'main.html' %}
{% block content %}
    <div class="container mt-xl-5">
        <div class="col-md-auto">
            <h5>Produits:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_produit' %}">Ajouter un produit</a>
                <br>
                    <table class="table table-sm">
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>

                        {% for produit in produits %}
                            <tr>
                                <th>{{ produit.id }}</th>
                                <th>{{ produit.nom }}</th>
                                <th>{{ produit.prix|floatformat:2 }}€</th>
                                <th><a href="{% url 'modifier_produit' produit.id %}" class="btn btn-sm btn btn-info">Modifier</a></th>
					            <th><a href="{% url 'supprimer_produit' produit.id %}" class="btn btn-sm btn btn-danger">Supprimer</a></th>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
        </div>
    </div>

{% endblock %}