{% extends 'main.html' %}
{% block content %}
    <div class="container mt-xl-5">

            <div class="col-md-auto">
                <h5>Clients:</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_client' %}">Créer Un Client</a>
                    <br>
                    <table class="table table-sm">
                        <tr>
                            <th>ID</th>
                            <th>Client</th>
                            <th>Telephone</th>
                            <th>Détails</th>
                        </tr>

                        {% for client in clients %}
                            <tr>
                                <th><a href="{% url 'list_client' client.id %}">{{ client.id }}</a></th>
                                <th>{{ client.nom }}</th>
                                <th>{{ client.telephone }}</th>
                                <th><a href="{% url 'list_client' client.id %}" class="btn btn-sm btn btn-info">Détails</a></th>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>

    </div>

{% endblock %}